<div class="container pt-4">
  <h1>Social Networking App</h1>
  <h5>Social Engineering - Suggested Friends</h5>

  <div class="row">
    <div class="col-md-4 col-sm-12 mt-4 mb-4">
      <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="fullName(r)" [term]="t"></ngb-highlight>
      </ng-template>

      <label for="typeahead">Enter users name or surname:</label>
      <input id="typeahead" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" (selectItem)="showFriends($event)" [resultTemplate]="rt" [resultFormatter]="fullName" [inputFormatter]="fullName" />
    </div>
    <div class="col-md-8 col-sm-12 mt-4 mb-4">
      <p class="mb-0">Users list:</p>
      <span *ngFor="let user of users">{{ user.firstName }} {{ user.surname }}</span>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4 col-sm-12 mt-4">
      <h5>Friends of: 
        <span *ngIf="selectedUser; else ellipsis">{{ selectedUser }}</span>
        <ng-template #ellipsis>...</ng-template>
      </h5>
      <ul>
        <li *ngFor="let f of friends">{{ f.firstName }} {{ f.surname }}</li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-12 mt-4">
      <h5>Friends of friends</h5>
      <ul *ngIf="friendsFriends.length > 0; else ellipsis">
        <li *ngFor="let ff of friendsFriends">{{ ff.firstName }} {{ ff.surname }}</li>
      </ul>
      <ng-template #ellipsis>...</ng-template>
    </div>

    <div class="col-md-4 col-sm-12 mt-4">
      <h5>Suggested friends</h5>
      <ul *ngIf="suggestedFriends.length > 0; else ellipsis">
        <li *ngFor="let sf of suggestedFriends">{{ sf.firstName }} {{ sf.surname }}</li>
      </ul>
      <ng-template #ellipsis>...</ng-template>
    </div>
  </div>
</div>
